.navbar {
    background-color: lightblue;
    width: 100%;
    position: fixed;
    top: 0;
    height: 35px;
}

.brand {
    font-weight: bold;
    font-size: 1.3rem;
    float: left;
    line-height: 30px;
    margin: 2px 10px;
}

.menu-icon {
    float: right;
    height: 20px;
    width: 30px;
    margin: 7px;
    cursor: pointer;
}

.menu-icon img {
    height: 100%;
    width: 100%;
}

@media only screen and (min-width: 550px) {
    .menu-icon {
        display: none;
    }
}